.container{
    width: 328px;
    height: 412px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(189, 189, 189);
}

.selector{
    border: solid thin red;
    position: absolute;
    width: 32px;
    height: 32px;
    display: none;
}

.cell{
    width: 32px;
    height: 32px;
    float: left;
    background-image: url("../images/cell_closed.png");
    background-size: cover;
}

.bordertl{
    width: 20px;
    height: 20px;
    float: left;
    background-image: url("../images/board_topleft.png");
    background-size: cover;
}

.bordertr{
    width: 20px;
    height: 20px;
    float: left;
    background-image: url("../images/board_topright.png");
    background-size: cover;
}

.borderTop{
    width: 32px;
    height: 20px;
    float: left;
    background-image: url("../images/board_top.png");
    background-size: cover;
}

.borderLong{
    width: 20px;
    height: 64px;
    float: left;
    background-image: url("../images/board_side.png");
    background-size: cover;
}

.topArea{
    height: 64px;
    float: left;
    background-color: rgb(189, 189, 189);
}

.spacer{
    width: 6px;
    height: 64px;
    float: left;
    background-color: rgb(189, 189, 189);
}

.dotDisplay{
    width: 26px;
    height: 64px;
    float: left;
}

.dotDisplayImage{
    width: 26px;
    height: 46px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    float:left;
    background-image: url("../images/number_0.png");
    background-size: cover;
}

.smileSpace{
    height: 46px;
    position: relative;
    float:left;
    background-color: rgb(189, 189, 189);
}

.smile{
    width: 52px;
    height: 52px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    background-image: url("../images/smiley_play.png");
    background-size: cover;
}


.jointl{
    width: 20px;
    height: 20px;
    float: left;
    background-image: url("../images/joint_left.png");
    background-size: cover;
}

.jointr{
    width: 20px;
    height: 20px;
    float: left;
    background-image: url("../images/joint_right.png");
    background-size: cover;
}

.side{
    width: 20px;
    height: 32px;
    float: left;
    background-image: url("../images/board_side.png");
    background-size: cover;
}

.borderbl{
    width: 20px;
    height: 20px;
    float: left;
    background-image: url("../images/board_bottomleft.png");
    background-size: cover;
}

.borderbr{
    width: 20px;
    height: 20px;
    float: left;
    background-image: url("../images/board_bottomright.png");
    background-size: cover;
}

.sideMenu{
    top:50%;
    transform: translateY(-50%);
    position: relative;
    height:50%;
    float:left;
    width:300px;
    background-color: #E7E7E7;
    border-top:  solid thick #222222;
    border-right:  solid thick #222222;
    border-bottom:  solid thick #222222;
    border-radius: 5px;
}

html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

